* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.profile-image {
  float: right;
}

li:hover {
  font-weight: bold;
  color: #284233;
}

h1 {
  color: #284233;
}
h3 {
  color: #4d7e60;
}

body {
  background-color: #f7e5c3;
}

<!--the previous 3 lines of code was adapted from https://www.w3schools.com/css/default.asp Accessed: 2022-10-26 -->
