.container {
  display: grid;
}

body {
  background-color: rgb(235, 204, 166);
}

h1 {
  text-align: center;
  background-color: rgb(21, 54, 21);
  color: antiquewhite;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: lighter;
}

footer {
  background-color: rgb(21, 54, 21);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:antiquewhite
}


.images {
  line-height: 0;
  column-count: 3;
  column-gap: 10px;
}

.images img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}


@media (max-width: 1000px)
{
  .images {
    column-count:2;
    column-gap: 10px;
  }
}

@media (max-width: 600px)
{
  .images{
    column-count: 1;
    column-gap: 5px;
  }
}




<!-- The previous 24 lines of code was adapted from https://timnwells.medium.com/create-a-simple-responsive-image-gallery-with-html-and-css-fcb973f595ea Accessed: 2022-11-16-->
