body {
  background-color: rgb(235, 204, 166);
}

h1 {
  background-color: rgb(21, 54, 21);
  color: antiquewhite;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: lighter;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: justify;
  margin-left: 25%;
  margin-right: 25%;
}

.skogen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.skogen {
  margin-bottom: 1%;
}

footer {
  background-color: rgb(21, 54, 21);
  color: antiquewhite;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-weight: lighter;
}
